@import url(https://fonts.googleapis.com/css?family=Raleway);

nav {
  background-color: #181a1b;
  border-bottom: 0.5px solid #cdc9c3;
  box-shadow: 0 1px 2px #cdc9c38e;
  i {
    font-size: 20px;
  }
}

nav .logo {
  font-family: "Grand Hotel", cursive;
  font-size: 1.5rem;
}

.logout-btn {
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 0 15px;
  &:focus {
    background-color: transparent;
  }
}

h2 {
  vertical-align: center;
  text-align: center;
}

html,
body {
  margin: 0;
  height: 100%;
}

* {
  font-family: "Raleway";
  box-sizing: border-box;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-color: transparent;
  color: #fff;
  height: 100%;
  padding: 1em;
}

section {
  min-height: 50px !important;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  nav {
    i {
      font-size: 16px;
      height: 14px;
    }
  }
}
